<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/templates/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

    <style>

    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img src="https://www.president.go.kr/img/main/logo.png" style="width: 90px; height: 40px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">청와대 뉴스룸</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">정책정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080/">국민청원</a>
                </li>

                <li class="nav-item" style="margin-left: 23cm">
                    <a class="nav-link active" th:href="@{http://localhost:8080/members/add}">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{http://localhost:8080/login}">로그인</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
