<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<head th:replace="/basic/navVar.html :: nav"></head>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>국민 청원</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-right"
                    onclick="location.href='addForm.html'"
                    style="background: #002752"
                    th:onclick="|location.href='@{/write}'|"
                    type="button">청원하기</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>주제</th>
                <th>분야</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="petition : ${petitions}">
                <td th:text="${petition.id}">번호</td>
                <td><a href="petition.html" th:href="@{/{petitionId} (petitionId=${petition.id})}" th:text="${petition.subject}">제목</a></td>
                <td th:text="${petition.field}">분류</td>
                <td><button class="btn btn-primary"
                            onclick="location.href='addForm.html'"
                            style="background: #002752"
                            th:onclick="|location.href='@{/{petitionId}/delete(petitionId=${petition.id})}'|"
                            type="button">삭제</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>