<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>

<body>
<head th:replace="/basic/navVar.html :: nav"></head>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.petition}">청원내용</h2>
    </div>

    <!--  추가  -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="petitionId" th:text="#{label.petition.id}">번호</label>
        <input type="text" id="petitionId" name="petitionId" class="form-control" value="1" th:value="${petition.id}" readonly>
    </div>
    <div>
        <label for="petitionSubject" th:text="#{label.petition.subject}">제목</label>
        <input type="text" id="petitionSubject" name="petitionSubject" class="form-control" value="상품A" th:value="${petition.subject}" readonly>
    </div>
    <div>
        <label for="petitionField" th:text="#{label.petition.field}">분류</label>
        <input type="text" id="petitionField" name="petitionField" class="form-control" value="10000" th:value="${petition.field}" readonly>
    </div>
    <div>
        <label for="petitionContent" th:text="#{label.petition.content}">청원내용</label>
        <textarea id="petitionContent" name="petitionContent" class="form-control" rows="20" cols="40" th:text="${petition.content}" readonly></textarea>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-sm"
                    onclick="location.href='editForm.html'"
                    style="background: #002752"
                    th:onclick="|location.href='@{/{petitionId}/edit(petitionId=${petition.id})}'|"
                    type="button">청원내용 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-sm"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">메인으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>

</html>